<%- include('header'); -%>
<form action="/signup" method="POST">
<div class="container mt-5">
  <h1 class="text-center">Sign Up</h1>
  <form action="/signup" method="POST">
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
    </div>
    <input
        type="text"
        class="form-control"
        id="nameInput"
        name="user_name"
        required
      />
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="user_password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<%- include('footer'); -%>